
$black: black;
   
// Tamaños de fuente
$font-size-xs: 40px;
$font-size-md: 60px;
$font-size-lg: 70px;


// mixin index
@mixin transform-titu($translateX: 0, $translateY: 0) {
    transform: translateX($translateX) translateY($translateY);
  }
  
  .tituIndex {
    color: $black;
    font-family: 'Bebas Neue', cursive;
    font-size: $font-size-xs;
  
    @media (min-width: 1024px) {
      @include transform-titu(-25px, -240px);
      font-size: $font-size-lg;
    }
  
    @media (min-width: 769px) and (max-width: 1023px) {
      @include transform-titu(-10px, -185px);
      font-size: $font-size-md;
    }
  
    @media (max-width: 768px) {
      @include transform-titu (-10px, -100px);
      font-size: $font-size-md;
    }
  }