// Colores
$celeste: rgb(62, 189, 231);
$black: black;
$gris: lightgrey;
    
h1,h2 {
  font-family: "Bebas Neue", cursive;
}

.bC {
    background-color: $celeste;
}

.bcBack{
  background-color: lightgrey;
} 

.pB {
    padding-bottom: 35px;
}
.pCero {
    padding: 0;
}

.pad{
  padding: 10px;
}

.img-fluid{
  width:100%;height: auto;
}

.mCero{
  margin: 0;
}



 


