// a{text-decoration: none;
//     font-family: "Bebas Neue", cursive;
//     font-size: 22px !important;
//     color:$black!important;
  
//     & :hover{
//     font-size: 24px!important;;
//     background-color: $gris!important;
//     border-radius: 4px!important; ;
//     transition: all .5s!important;}
//   }

.nav, nav{
    a{text-decoration: none;
        font-family: "Bebas Neue", cursive;
        font-size: 22px !important;
        color:$black!important;}
      
        a:hover{
        font-size: 24px!important;;
        background-color: $gris!important;
        border-radius: 4px!important; ;
        transition: all .5s!important;}
}
// a{text-decoration: none;
//     font-family: "Bebas Neue", cursive;
//     font-size: 22px !important;
//     color:$black!important;}
  
//     a:hover{
//     font-size: 24px!important;;
//     background-color: $gris!important;
//     border-radius: 4px!important; ;
//     transition: all .5s!important;}